<h1>Add a Bathroom</h1>
<%= form_for @bathroom do |f| %>
  <% if @bathroom.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @bathroom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  
  <div class="actions"><%= f.submit "Add Bathroom", :id => "add" %></div>
<% end %>