<h1 style="padding-top: 20px;"><%= @bathroom.name %></h1>
<h4>Average Rating: <%= @average_rating %> / 5 </h4>
<div class="rating">
	<%= form_for @score do |f| %>
	  <% if @score.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% @score.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div style="font-size:2em" class="field">
	    <%= f.radio_button :value, '1', :class => "star" %>
	    <%= f.radio_button :value, '2', :class => "star" %>
	    <%= f.radio_button :value, '3', :class => "star" %>
	    <%= f.radio_button :value, '4', :class => "star" %>
	    <%= f.radio_button :value, '5', :class => "star" %>
	  </div>
	  
	  <div style="font-size:22px;" class="actions"><%= f.submit "Rate!", :id => "rate" %></div>
	<% end %>
</div>
<p><%= @bathroom.scores.count %> ratings </p>